<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Ejercicios de Python</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <header>

        <h1>Ejercicios de Python</h1>

        <p>
            Selecciona el ejercicio que quieres realizar
        </p>

    </header>


    <main class="inicio">

        <div class="tarjetas">


            <!-- EJERCICIO 1 -->

            <div class="tarjeta">

                <h2>Ejercicio 1</h2>

                <h3>Par o Impar</h3>

                <p>
                    Ingresa un número y descubre
                    si es par o impar.
                </p>

                <a href="/par-impar"
                   class="boton">

                    Ir al ejercicio

                </a>

            </div>


            <!-- EJERCICIO 2 -->

            <div class="tarjeta">

                <h2>Ejercicio 2</h2>

                <h3>Tabla de multiplicar</h3>

                <p>
                    Genera una tabla de multiplicar
                    del 1 al 10.
                </p>

                <a href="/tabla"
                   class="boton">

                    Ir al ejercicio

                </a>

            </div>


            <!-- EJERCICIO 3 -->

            <div class="tarjeta">

                <h2>Ejercicio 3</h2>

                <h3>Adivina el número</h3>

                <p>
                    Intenta descubrir el número
                    secreto entre 1 y 100.
                </p>

                <a href="/adivinar"
                   class="boton">

                    Ir al ejercicio

                </a>

            </div>


        </div>

    </main>


    <footer>

        <p>
            Desarrollador Emmanuel
        </p>

    </footer>

</body>

</html>